header {
  text-align: center;
  color:blue;
  font-size:30pt;
  padding-top:60px;
}
h1 {
  color: blue;
  text-align: center;
}
body {
  background-color: #d0e4fe;
}
.nav {
 position: fixed;
 list-style: none;
 width: 85%;
 margin: 0;
 background-color: blue;
 color: white;
 text-align: center;
 margin-left: 7.5%;
 margin-right: 7.5%;
 font-size: 15pt;
 clear: both;
 left: 0px;
}
nav>ul>li {
 display: inline;
}
nav ul li a {
 padding: 6px 20px;
 background-color: blue;
 color: White;
 text-decoration: none;
}

section.left {
  float: left;
  width: 50%;
}
section.right {
  float: right;
  width: 50%;
}
  
}
html, body {
 width: 100%;
}
div#img {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10171721_10203641853790739_7784849560789197025_n.jpg?oh=729fbc005b37476f27a0453bd77a07fa&oe=566B4DAD");
    background-repeat: no-repeat;
    background-size: contain;
}
