header {
  text-align: center;
  color:blue;
  font-size:30pt;
  padding-top:50px;
}
h1 {
  color: blue;
  text-align: center;
}
body {
  background-color: #d0e4fe;
}
.nav li {
  display: inline;
}
.nav a {
  text-decoration: none;
  color: white;
  background-color: blue;
}

.nav ul {
  margin-top:6px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  position: fixed;
  background-color: blue;
  text-align: center;
  font-size: 15pt;
  height: 30px;
  width: 90%;
  
}
