      .high {
        color: red;
      }
      .medium {
         color: orange;
      }
      .low {
         color: gray;
      }
      .done {
         text-decoration: line-through;
      }
      h1 {
         color: blue;
         text-align: center;
      }
      body {
           background-color: #d0e4fe;
      }
      ul { 
         display:table; 
         margin:0 auto;
      }
