.high {
    background-color: red;
    color: white;
    }
  
.medium {
    background-color: orange;
    color: brown;
    }

.low {
    background-color: #666666;
    color: black;
    }

.done {
    background-color: black;
    color: cyan;
    }
.done li { 
      text-decoration: line-through;
}
body {
    background-color: #d0e4fe;
}

section { 
        height: 200px;
        width: 300px;
}

#list {
    height: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    
}

#input {
    height: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    
}

#title {
    text-align: center;
}

#task #priority button {
    display: inline;
    float: left;
}

